<div class="container-fluid">
    <div class="list-group py-4">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            Que visitar
        </button>
        <button type="button" class="list-group-item list-group-item-action">Qué hacer</button>
        <button type="button" class="list-group-item list-group-item-action">Donde alojarme</button>
        <button type="button" class="list-group-item list-group-item-action">Otoño</button>
        <button type="button" class="list-group-item list-group-item-action">Invierno</button>
        <button type="button" class="list-group-item list-group-item-action">Primavera</button>
        <button type="button" class="list-group-item list-group-item-action">Verano</button>
    </div>
</div>
